.container {
    overflow-x: auto;
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.table__caption {
    margin-bottom: 10px;
}

.table__cell {
    border: 1px solid #ccc;
    padding: 15px;
    text-align: center;
}

.table__cell--header {
    background-color: #bbb;
}

.table__cell--highlighted {
    color: #1d9f9f;
}